.example-container {
  margin-top: 50px;
  height: 100%;
  display: flex;
  justify-content: center; /* alinha horizontalmente ao centro */
  align-items: center; /* alinha verticalmente ao centro */
}

.example-container form {
  width: 100%; /* Se ele lgar numa tela menor q 300px, o width vai ser ocupado em 100% da tela, isso pra responsividade */
  max-width: 1000px;
  display: flex;
  flex-direction: column; /* todos elementos ficam em coluna */
}

.example-container form textarea {
  margin: 20px;
  padding: 10px;
  margin: 20px;
  font-size: 16px;

  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 100px;
  max-height: 500px;

  min-width: 500px;
  max-width: 500px;
  color: #666;
}

.example-container form textarea::placeholder {
  color: #999;
}

.example-container form button {
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  background: #0098d7;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.example-container p {
  text-align: left;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.quest-container {
  margin-top: 50px;
  height: 100%;
  display: flex;
  justify-content: center; /* alinha horizontalmente ao centro */
  align-items: center; /* alinha verticalmente ao centro */
}

.quest-container form {
  width: 100%; /* Se ele lgar numa tela menor q 300px, o width vai ser ocupado em 100% da tela, isso pra responsividade */
  max-width: 1000px;
  display: flex;
  flex-direction: column; /* todos elementos ficam em coluna */
}

.quest-container form textarea {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: 100px;
  max-height: 500px;
  font-size: 16px;
  min-width: 500px;
  max-width: 500px;
  color: #666;
}

.quest-container form textarea::placeholder {
  color: #999;
}

.quest-container form button {
  margin-top: 20px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  background: #0098d7;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.quest-container p {
  text-align: left;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

#aux {
  justify-content: center;
  align-items: center;
}
#sendQuest {
  width: 100px;
  border: 0;
  border-radius: 4px;
  height: 18px;
  font-size: 10px;
  background: #0098d7;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

/* Container Quest */
div.container-quest {
  display: flex;
  flex-direction: column;
}

.container-quest > span.title-quest {
  display: block;
  margin-bottom: 20px;

  color: #000;
  font-size: 18px;
  text-transform: uppercase;
}

.container-quest > span.text-quest {
  background: aliceblue;
  padding: 10px;
  border-radius: 10px;
}

/* Container Aswers */
div.container-answers {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

div.container-answers > small {
  display: block;
  margin-left: 20px;
  background: aliceblue;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid green;
}

div.container-answers > span {
  display: block;
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
}

/* Tutorial */

p.tutorial {
  background: #fff;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 2px;
  text-align: justify;
  padding: 10px;
  border-radius: 5px;
}

/* Box Resposta */
div.box-resp {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 30px;
}
